.buttons-holder a,
.full-menu h2.show-full a {
    font-family: yekan !important;
    letter-spacing: normal;
}

html,
body {
    font-family: yekan !important;
}

.img-holder {
    object-fit: contain;
    background-size: 80%;
    background-position: center;
    float: right;
    background-repeat: no-repeat;
}

.header-item-container {
    float: right;
}

.inner-item {
    /* border-bottom: none; */
}

#gotomenu {
    background: #68817e;
}

.buttons-holder a:hover {
    background-color: #68817e;
}

.buttons-holder a {
    border: 2px solid #68817e;
    text-decoration: none;
    color: #68817e;
}

.full-menu h2.show-full a {
    background: #68817e;
}

.working-clock {
    color: #68817e;
}

.each-cat::after {
    background: #68817e;
}
